[user]
    email = mandreyel@protonmail.com
    name = mandreyel
[core]
    editor = vim
    pager = delta
    excludesfile = ~/dotfiles/git/.gitignore
[pretty]
	better-oneline = "format:%C(auto)%h%d %s %Cblue[%cn]"
[alias]
    # Detailed commit history graph
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

    # test
	tree = log --pretty=better-oneline --all --graph
    l = log --pretty=better-oneline
    ll = log --pretty=better-oneline --numstat
    details = "!f() { git ll "$1"^.."$1"; }; f"

    # List files which have changed since master, with diff stats.
    files = !git diff --stat $(git merge-base HEAD master)

    # Open all files changed since master in vim tabs and run fugitive :Gdiff in
    # each tab and tell gitgutter to show +/- signs for changes since master.
    review = !vim -p $(git files) +\"tabdo Gdiff master\" +\"let g:gitgutter_diff_base = 'master'\"

    # Should probably not use these too much as it's better to know the
    # actual commands, but just in case I forget them:
    unstage = reset HEAD --
    unmodify = checkout --
    untrack = rm --cached
    rollback = !git reset --soft HEAD~ && git reset HEAD

    s = status
    c = checkout
    d = diff

    mru = !git for-each-ref --sort=-committerdate refs/heads/ | tac
[credential]
    helper = cache --timeout=21600
[diff]
    tool = vimdiff
[interactive]
    diffFilter = delta --color-only
[merge]
    tool = vimdiff
[mergetool]
    prompt = false
