vim/.vim/bundle/*
vim/.vim/backup/*
vim/.vim/sessions/*
vim/.vim/undo/*
vim/.vim/swap/*
vim/.vim/.netrwhist
lvim/.config/lvim/plugin
lvim/.config/lvim/lazy-lock.json
lvim/.config/yarn
desktop/i3/.config/i3/[0-9]
desktop/i3/.config/i3/wall
tags*
regolith/.config/regolith/flags
**/ignore
