vim/.vim/bundle/*
vim/.vim/backup/*
vim/.vim/sessions/*
vim/.vim/undo/*
vim/.vim/swap/*
vim/.vim/.netrwhist
desktop/i3/.config/i3/[0-9]
desktop/i3/.config/i3/wall
tags*
regolith/.config/regolith/flags
