#define japanese_indigo #313b49
!#define bone_white #aab1be
#define bone_white #aab1be
#define light_bone_white #b5bbc6
#define blue #3685e2
#define pastel_blue #5294e2
#define pastel_pink #ad7fa8
#define pastel_orange #edb876
#define weldon_blue #7c98b3
#define urgent_red #a34935
#define peach_red #d35a7c
#define dk_grey_comment #606c7b
#define magenta #88406e
#define bright_green #86f98d
#define gh_light_blue #3fd9fc

! general
URxvt.scrollBar: false
URxvt.urlLauncher: firefox
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.scrollstyle: rxvt
URxvt*termName: rxvt-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: True
URxvt.cursorColor: urgent_red
URxvt.cursorColor2: bone_white
URxvt.cursorUnderline: False
URxvt.depth: 32

! keybindings
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! font
URxvt.font: xft:Inconsolata-Regular:pixelsize=19
URxvt.boldFont: xft:Inconsolata-Bold:pixelsize=19
URxvt.letterSpace: -1
URxvt.hinting: Full
URxvt.dpi: 96
URxvt.antialias: true

URxvt*background: [97]japanese_indigo
URxvt.foreground: light_bone_white

! colors ! TODO
URxvt.color0  : pastel_orange
URxvt.color8  : pastel_orange
! constants
URxvt.color1  : pastel_pink
URxvt.color9  : pastel_pink
! primitive types (void, int8_t), template, namespace, class
URxvt.color2  : bright_green
URxvt.color10 : light_steel_blue
! turqoise
URxvt.color3  : white
URxvt.color11 : white
! comments
URxvt.color4  : dk_grey_comment
URxvt.color12 : dk_grey_comment
! includes
URxvt.color5  : #4fd2ff
URxvt.color13 : #4fd2ff
! ?
URxvt.color6  : white
URxvt.color14 : white
! very dark purple
URxvt.color7  : white
URxvt.color15 : white
